* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}
/* start header */
header {
  background: linear-gradient(45deg, #000000cf, #469dff);
  padding: 2px 2%;
  display: flex;
  justify-content: space-between;
}

.info-header {
  color: white;
  display: flex;
}

.info-header img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 8px;
}

.info-header svg {
  margin: 0 10px;
}

.icons-header {
  margin-left: 10px;
}

.icons-header svg {
  cursor: pointer;
}

.logo h3:hover {
  opacity: 0.7;
}
/* end  header */
.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sidebar {
  border-right: 1px solid #b3b3b347;
  width: 20%;
  background-color: rgb(255, 255, 255);
}

.sidebar a.sidebar-active {
  border-radius: 12px;
  border-left: 4px solid #73b4ff;
  background-color: rgb(245, 245, 245);
  color: #777;
  font-weight: bold;
}

.sidebar h3 {
  color: #73b4ff;
  font-size: 20px;
  margin: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #444;
}

.sidebar a:hover {
  opacity: 0.6;
  color: rgb(78, 78, 78);
  background-color: rgba(129, 128, 128, 0.137);
  border-right: 4px solid #73b4ff;
  font-weight: bold;
  border-radius: 12px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(204, 204, 204);
}

.content {
  width: 80%;
  padding: 20px;
  background-color: rgb(245, 245, 245);
}

.titulo-secao {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.titulo-secao h2 {
  font-size: 19px;
}

.titulo-secao p {
  font-size: 14px;
}

.titulo-secao svg {
  color: #73b4ff;
}

.box-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.box-info-sigle {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  width: 80%;
  margin-left: 10px;
  padding: 30px;
}
.box-info-sigle p {
  text-align: center;
}
